.about {
	padding: 125px 10px 70px;
	text-align: center;

	@include media-max-width('tablet') {
		padding-top: 155px;
		padding-bottom: 100px;
	}

	@include media-max-width('mobile') {
		padding-top: 130px;
		padding-bottom: 90px;
	}

	&__title {
		@include text-font-primary(54px, 700);
		color: $about-title-color;
		text-transform: uppercase;
		margin-bottom: 20px;
		@include media-max-width('tablet') {
			margin-bottom: 12px;
			font-size: 42px;
		}
		@include media-max-width('mobile') {
			font-size: 26px;
			margin-bottom: 28px;
		}
	}

	&__text {
		@include text-font-secondary(21px);
		line-height: 32px;
		color: $tertiary-color;
		margin-bottom: 22px;
		max-width: 872px;
		margin-left: auto;
		margin-right: auto;
		@include media-max-width('tablet') {
			margin-bottom: 38px;
		}
		@include media-max-width('mobile') {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 36px;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		column-gap: 12px;

		@include media-max-width('mobile') {
			row-gap: 20px;
			flex-wrap: wrap;
		}
	}
}

.github {
	color: #333333;
	display: flex;
	border: 1px #ddd solid;
	border-radius: 2px;
	justify-content: center;
	align-items: center;

	&__button {
		@include text-font-secondary(14px, 700);
		padding: 3px 9px;
		border-right: 1px #d5d5d5 solid;
		display: flex;
		align-items: center;
		column-gap: 3px;
		background: linear-gradient(
			180deg,
			#fcfcfc 0%,
			#eeeeef 100%
		);
	}

	&__icon {
		width: 16px;
		height: 16px;
	}

	&__counter {
		@include text-font-secondary(11px, 700);
		padding: 3px 6px;
	}
}
