.features {
	background-color: #f4f4f4;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	padding: 98px 0 62px;
	box-sizing: content-box;
	column-gap: 72px;
	position: relative;

	@include media-max-width('tablet') {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 60px;
		padding-bottom: 0;
	}

	@include media-max-width('mobile') {
		padding-top: 32px;
	}

	&__title {
		@include text-font-primary(48px, 700);
		line-height: 0.9;
		color: #8d81ac;
		&::before {
			content: '<';
		}
		&::after {
			content: '>';
		}

		@include media-max-width('tablet') {
			margin-bottom: 50px;
			font-size: 42px;
		}

		@include media-max-width('mobile') {
			font-size: 32px;
			text-align: center;
			margin-bottom: 36px;
		}
	}

	&__image {
		position: absolute;
		left: 49%;
		bottom: 32px;
		img {
			width: 100%;
		}

		@include media-max-width('tablet') {
			position: static;
			margin-left: auto;
			width: 90%;
			img {
				margin-left: auto;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@include media-max-width('tablet') {
			margin-bottom: 86px;
			padding: 0 10px;
		}
		@include media-max-width('mobile') {
			margin-bottom: 64px;
		}
	}
}

.feature-card {
	display: grid;
	font-family: $primary-text-font, sans-serif;
	row-gap: 16px;
	column-gap: 24px;
	grid-template-columns: 110px auto;

	@include media-max-width('mobile') {
		grid-template-columns: auto;
		align-items: center;
		justify-items: center;
		row-gap: 0;
	}

	&__image {
		grid-row: 1 / 3;
		grid-column: 1;

		@include media-max-width('mobile') {
			grid-row: 1;
			grid-column: 1;
			margin-bottom: 20px;
		}
	}

	&__title {
		grid-column: 2;
		grid-row: 1;
		font-size: 16px;
		color: #323232;
		font-weight: 400;

		@include media-max-width('mobile') {
			grid-row: 2;
			grid-column: 1;
			margin-bottom: 14px;
			text-align: center;
		}
	}

	&__text {
		grid-column: 2;
		grid-row: 2;
		font-size: 14px;
		color: #848e97;
		line-height: 1.5;
		max-width: 400px;

		@include media-max-width('tablet') {
			max-width: 582px;
		}

		@include media-max-width('mobile') {
			grid-row: 3;
			grid-column: 1;
			max-width: 380px;
			text-align: center;
		}
	}
}
