.header {
	// position: relative;
	font-family: $primary-text-font, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 17px;
	color: $accent-color;
	background-color: transparent;
	// background-color: #000;
	padding: 30px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	@include media-max-width('tablet') {
		padding: 20px 0;
		background-color: $header-bg-color;
	}
	&__container {
		display: flex;
		align-items: center;
		@include media-max-width('tablet') {
			display: grid;
			grid-template-rows: 3fr 1fr;
			row-gap: 10px;
			align-items: start;
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas: 'logo btn' 'nav nav';
			background-color: $header-bg-color;
		}
		@include media-max-width('mobile') {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		gap: 17px;
		font-family: $secondary-text-font, sans-serif;
		font-weight: 700;
		font-size: 24px;
		text-transform: uppercase;
		color: $accent-color;
		@include text-hover($primary-color);
		@include media-max-width('tablet') {
			grid-area: logo;
			justify-self: start;
		}
		@include media-max-width('mobile') {
			order: 1;
			justify-self: unset;
		}
	}
	&__btn {
		@include media-max-width('tablet') {
			grid-area: btn;
			justify-self: end;
		}
		@include media-max-width('mobile') {
			font-size: 15px;
			order: 2;
			justify-self: unset;
		}
	}
	&__nav {
		@include media-max-width('tablet') {
			grid-area: nav;
			justify-self: center;
			align-self: end;
		}
		@include media-max-width('mobile') {
			order: 3;
			justify-self: unset;
			align-self: unset;
		}
	}
}

.logo {
	position: relative;
	@include media-max-width('mobile') {
		span {
			display: none;
		}
	}
	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 43px;
		height: 41px;
		background-image: url('../images/logo_hovered.png');
		opacity: 0;
		@include transition(opacity);
	}
	&:hover::before {
		opacity: 1;
	}
}

.nav {
	margin-left: auto;
	margin-right: 50px;
	@include media-max-width('tablet') {
		margin: unset;
	}
	&__list {
		display: flex;
		gap: 47px;
		@include media-max-width('mobile') {
			position: absolute;
			flex-direction: column;
			gap: 0;
			background: $burger-menu-bg-color;
			top: 100%;
			// right: -293px;
			right: 10px;
			opacity: 0;
			pointer-events: none;
			@include transition;
			&--active {
				opacity: 1;
				pointer-events: initial;
			}
		}
		&--open {
			opacity: 0;
			pointer-events: none;
		}
	}
	&__item {
		@include media-max-width('mobile') {
			position: relative;
			&:last-child:after {
				content: '';
				display: block;
				width: inherit;
				height: 14px;
				background-color: inherit;
			}
		}
	}
	&__link {
		@include text-hover($primary-color);
		@include media-max-width('mobile') {
			color: $primary-color;
			font-weight: 400;
			font-size: 26px;
			line-height: 38px;
			width: 292px;
			display: inline-block;
			padding: 29px 0 21px 35px;
			border-bottom: 3px solid $burger-menu-border-color;
			&::before {
				position: absolute;
				left: 2px;
				top: 19px;
				content: '';
				display: block;
				width: 8px;
				height: 53px;
				background-color: $accent-color;
				@include transition(opacity);
				opacity: 0;
			}
			&:active:before,
			&:focus:before {
				opacity: 1;
			}
			&:focus,
			&:active {
				color: inherit;
			}
		}
	}
}

.burger-menu {
	display: none;
	position: relative;
	width: 26px;
	height: 21px;
	background-color: transparent;
	@include media-max-width('mobile') {
		display: block;
		margin: 0 auto;
	}
	span {
		position: absolute;
		display: block;
		width: 26px;
		height: 3px;
		right: 0;
		background-color: $primary-color;
		border-radius: 5px;
		@include transition;
		&:first-child {
			width: 15px;
			top: 0;
		}
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
		}
		&:last-child {
			bottom: 0;
		}
	}
	&--active {
		span {
			&:first-child {
				opacity: 0;
			}
			&:nth-child(2) {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}
			&:last-child {
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
}
