.hero {
	// Not sure if I should use these or not:
	// position: relative;
	// z-index: -1;
	background-color: #000;
	background-image: url('../images/hero/hero-bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	text-align: center;
	padding-top: 183px;
	@include media-max-width('mobile') {
		height: 718px;
	}
	&__title {
		font-family: $primary-text-font, sans-serif;
		font-weight: 700;
		font-size: 82px;
		line-height: 1;
		color: $primary-color;
		margin-bottom: 17px;
		@include media-max-width('tablet') {
			font-size: 72px;
		}
		@include media-max-width('mobile') {
			font-size: 48px;
		}
	}
	&__text {
		font-family: $secondary-text-font, sans-serif;
		font-weight: 400;
		font-size: 30px;
		line-height: 1;
		color: $accent-color;
		margin-bottom: 16px;
		@include media-max-width('tablet') {
			font-size: 24px;
		}
		@include media-max-width('mobile') {
			font-size: 18px;
		}
	}
	&__subtext {
		font-family: $primary-text-font, sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 1;
		text-transform: uppercase;
		color: $secondary-color;
		@include media-max-width('tablet') {
			font-size: 14px;
		}
	}
	&__download {
		position: absolute;
		top: 767px;
		left: 50%;
		transform: translateX(-50%);
		@include media-max-width('mobile') {
			top: 696px;
		}
	}
}

.download {
	&__btn {
		padding: 20px 61px;
		font-weight: 700;
		font-size: 21px;
		line-height: 22px;
		margin-bottom: 20px;
		@include media-max-width('mobile') {
			padding: 12px 30px;
			font-size: 18px;
			line-height: 20px;
		}
	}
	&__text {
		font-family: $primary-text-font, sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 15px;
		color: $secondary-color;
	}
}
