// FIXME 👉 Refactor this

.pricing {
	text-align: center;
	background: #4c3b4e url(../images/pricing/bg.png)
		center/cover no-repeat;
	padding: 80px 10px 94px;

	@include media-max-width('mobile') {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	&__title {
		padding-bottom: 56px;

		@include media-max-width('tablet') {
			font-size: 42px;
			padding-bottom: 40px;
		}

		@include media-max-width('mobile') {
			font-size: 28px;
			padding-bottom: 30px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, auto);
		align-items: center;
		justify-content: center;
		column-gap: 15px;
		row-gap: 30px;
		@include media-max-width('tablet') {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 25px;
		}
		@include media-max-width('mobile') {
			grid-template-columns: 1fr;
			justify-items: center;
			row-gap: 18px;
		}
	}
}

.pricing-card {
	background-color: rgba(255, 255, 255, 0.1);
	color: $primary-color;
	font-family: $primary-text-font;
	width: 257px;
	height: 457px;
	display: flex;
	flex-direction: column;
	// padding-bottom: 48px;

	// FIXME 👉 Ugly media query and there should be another way to align
	@media screen and (min-width: calc(get-max-width('mobile') + 1px)) and (max-width: get-max-width('tablet')) {
		&:nth-child(odd) {
			justify-self: end;
		}
	}

	&--selected {
		background-color: #463048;
		min-width: 299px;
		min-height: 560px;
	}

	&__title {
		@include text-font-primary(24px, 400);
		text-transform: uppercase;
		background-color: rgba(255, 255, 255, 0.06);
		padding: 36px 30px;

		&--selected {
			background-color: rgba(0, 0, 0, 0.1);
			padding: 42px 96px;
		}
	}

	&__price {
		text-transform: uppercase;
		font-size: 60px;
		padding-top: 18px;
		padding-bottom: 12px;

		&--selected {
			font-size: 82px;
			padding-top: 0;
			padding-bottom: 6px;
		}
	}

	&__period {
		@include text-font-primary(14px, 400);
		text-transform: uppercase;
		padding-bottom: 70px;
		position: relative;

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 60px;
			height: 5px;
			background-color: #8d81ac;
			top: 63%;
			left: 50%;
			transform: translateX(-50%);
		}

		&--selected {
			padding-bottom: 98px;
			&::after {
				top: 57%;
			}
		}
	}

	&__type {
		padding-bottom: 64px;

		&--more-text {
			padding-bottom: 46px;
		}

		&--selected {
			padding-bottom: 86px;
		}
	}

	&__button {
		padding: 12px 36px;
		border-radius: 30px;
		font-size: 15px;
		text-transform: uppercase;
		background-color: rgba(255, 255, 255, 0.15);
		align-self: center;

		@include button-hover(
			$primary-color,
			rgba(255, 255, 255, 0.25)
		);

		&--selected {
			font-size: 16px;
			padding: 18px 48px;
		}
	}
}
