.testimonials {
	position: relative;
	padding: 102px 10px 18px;
	background: #4c3b4e
		url(../images/testimonials/testimonials-bg.png)
		center/cover no-repeat;

	@include media-max-width('tablet') {
		padding-top: 86px;
	}

	@include media-max-width('mobile') {
		padding-top: 56px;
	}

	&__title {
		text-align: center;
		margin-bottom: 72px;

		@include media-max-width('tablet') {
			font-size: 42px;
			margin-bottom: 88px;
		}

		@include media-max-width('mobile') {
			font-size: 36px;
			margin-bottom: 52px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding-bottom: 106px;
		row-gap: 104px;
		column-gap: 118px;
		max-width: 1200px;
		margin: 0 auto;

		@include media-max-width('tablet') {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 60px;
			column-gap: 60px;
			padding-bottom: 68px;
		}

		@include media-max-width('mobile') {
			grid-template-columns: 1fr;
			row-gap: 45px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		row-gap: 22px;

		@include media-max-width('mobile') {
			row-gap: 24px;
			justify-content: center;
		}
	}

	&__logo {
		min-width: 0;
		max-width: max-content;
	}

	&__text {
		color: #fff;
		@include text-font-secondary(16px, 700, true);
		line-height: 1.5;
		text-align: center;
		max-width: 345px;
	}

	&__subtext {
		color: #a291a5;
		text-align: center;
		max-width: 880px;
		margin: 0 auto;
		@include text-font-secondary(14px);
		line-height: 21px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 65%;
			height: 2px;
			background-color: #645766;

			@include media-max-width('mobile') {
				width: 90%;
			}
		}
	}
}
