.container {
	max-width: 1200px;
	margin: 0 auto;
	@include media-max-width('tablet') {
		padding: 0 10px;
	}
}

.btn {
	width: fit-content;
	white-space: nowrap;
	padding: 11px 34px;
	font-family: $primary-text-font, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 17px;
	color: $primary-color;
	background-color: $accent-color;
	border-radius: 40px;
	border: 1px solid transparent;
	@include button-hover(
		$accent-color,
		$primary-color,
		true
	);
	@include media-max-width('mobile') {
		padding: 9px 23px;
	}
}

.section__title {
	font-family: $primary-text-font, sans-serif;
	font-size: 48px;
	color: $primary-color;
}
