@mixin font-face($font-family, $url, $weight, $font-style) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('../fonts/#{$url}.woff2') format('woff2'),
			url('../fonts/#{$url}.woff') format('woff');
		font-weight: #{$weight};
		font-style: #{$font-style};
	}
}

@mixin text-hover($color) {
	@include transition;
	&:hover {
		color: $color;
	}
}

@mixin button-hover(
	$text-color,
	$bg-color,
	$has-border: false
) {
	@include transition;
	&:hover {
		background-color: $bg-color;
		color: $text-color;
		@if $has-border {
			border: 1px solid $text-color;
		}
	}
}

@mixin text-font(
	$family,
	$size,
	$weight: 400,
	$isItalic: false
) {
	font-family: $family, sans-serif;
	font-size: $size;
	font-weight: $weight;
	@if $isItalic {
		font-style: italic;
	}
}

@mixin transition($element: all) {
	transition: $element 0.3s ease-in;
}

@mixin text-font-primary($properties...) {
	@include text-font($primary-text-font, $properties...);
}

@mixin text-font-secondary($properties...) {
	@include text-font($secondary-text-font, $properties...);
}

@mixin media-max-width($breakpoint-name) {
	$max-width: get-max-width($breakpoint-name);
	@media screen and (max-width: $max-width) {
		@content;
	}
}
