*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
	border: none;
	font-family: inherit;
	color: inherit;
}

img {
	display: block;
}
