$primary-text-font: 'Montserrat';
$secondary-text-font: 'Lato';

$primary-color: #fff;
$accent-color: #8d81ac;
$secondary-color: #848e97;
$tertiary-color: #323232;
$features-bg-color: #f4f4f4;
$about-title-color: #635c73;
$testimonials-subtext-color: #a291a5;
$pricing-active-color: #463048;
$pricing-line-color: #645766;
$pricing-bg-color: #4d3c4e;
$burger-menu-bg-color: #333333;
$burger-menu-border-color: #3b3b3b;
$header-bg-color: #27262a;

// ⛅️ Max width for mobile devices is set to 582px to make cards resize properly.
//    (pricing section, initial value: 480px)
// ⛅️ Tablet max width should also be changed to 1133px
//    cause there not enough place to place 4 cards in a row.
//    (pricing section, initial value: 992px)
// ☀️ The best possible fix is to change make such changes in @media:
//    tablet -> desktop; mobile -> tablet.
// 😥👍
$breakpoints: (
	'desktop': 1200px,
	'tablet': 1132px,
	'mobile': 582px,
);
